.footer
    .footer_row
       .footer_ele.btn_effect API
       .footer_ele.btn_effect Developer
       .footer_ele.btn_effect Github
    .cname
        span(title='It doesn’t stand for anything. Like IBM. Does IBM stand for anything?') AEY Inc.